<div ng-controller="ClientCtrl">
  <div ng-show="performer.active">
    <div class="performer text-center" style="background-color: hsla({{performer.color}}, 100%, 50%, 1); color: hsla({{performer.altColor}}, 100%, 50%, 1);">

      <h1>You are {{performer.mood}}</h1>

      <br/>

      <div id=”gameArea” class="text-center">

        <!--
        <canvas id="gameCanvas" width="250" height="250"></canvas>
        -->
        <canvas id="glitchCanvas" width="292" height="301"></canvas>

        <div id=”statsPanel”>
          <h4>Move your device, touch your screen</h4>
          <p>Channel {{performer.channelNumber}}</p>
        </div>
      </div>


    </div>
  </div>
  <div ng-hide="performer.active" class="text-center">
    <h3>Waiting for Conductor</h3>
    <h4>Enhance your calm.</h4>
  </div>
</div>
