<div ng-show="online">
  <div ng-show="conductorReady" class="channels">

    <ul class="list-inline" ng-cloak>
      <li ng-repeat="channel in channels track by $index"
      class="channel"
      ng-class="{open: channel.state == 'open', closed: channel.state == 'closed'}">
        <div class="channel-wrapper">

          <div class="pull-left" class="left">

            <div ng-show="channel.state == 'open'">

              <label>
                <input type="checkbox"
                ng-model="channel.active"
                ng-change="setActive(channel.performerId, channel.active)">
                Activate
              </label>

              <label>
                <select type="text" ng-model="channel.mood" ng-change="changeMood(channel.performerId, channel.mood)" ng-cloak>
                  <option value="zen-like">zen-like</option>
                  <option value="serene">serene</option>
                  <option value="calm">calm</option>
                  <option value="indifferent">indifferent</option>
                  <option value="fidgety">fidgety</option>
                  <option value="hungry">hungry</option>
                  <option value="erratic">erratic</option>
                  <option value="shaking">shaking</option>
                  <option value="violent">violent</option>
                </select>
                Set Mood
              </label>

              (performer: <span class="user-agent">{{channel.userAgent}}</span>)

              <div class="data data-acceleration">
                <span class="title">Acceleration:</span>
                <span class="label">X</span> <span class="data">{{channel.motionData[0] | number: 3 }}</span>
                <span class="label">X</span> <span class="data">{{channel.motionData[1] | number: 3 }}</span>
                <span class="label">Z</span> <span class="data">{{channel.motionData[2] | number: 3 }}</span>
              </div>
              <div class="data data-rotation">
                <span class="title">Rotation:</span>
                <span class="label">alpha</span> <span class="data">{{channel.motionData[3] | number: 3 }}</span>
                <span class="label">beta</span>  <span class="data">{{channel.motionData[4] | number: 3 }}</span>
                <span class="label">gamma</span> <span class="data">{{channel.motionData[5] | number: 3 }}</span>
              </div>
              <div class="data data-position">
                <span class="title">Position:</span>
                <span class="label">X</span> <span class="data">{{channel.touchData[0] | number: 3 }}</span>
                <span class="label">Y</span> <span class="data">{{channel.touchData[1] | number: 3 }}</span>
                <span class="label">deltaX</span> <span class="data">{{channel.touchData[2] | number: 3 }}</span>
                <span class="label">deltaY</span> <span class="data">{{channel.touchData[3] | number: 3 }}</span>
                <span class="label">accel</span> <span class="data">{{channel.touchData[4] | number: 3 }}</span>
              </div>
              <div class="data data-mood">

              </div>

            </div>
          </div>

          <div class="text-center channel-name pull-right">
            Channel {{channel.channelNumber}}
            <span ng-show="channel.state == 'open' && (channel.active === true || channel.active === 'true')" class="osp-active">
              <br/>
              Sending OSP
            </span>
          </div>
        </div>
      </li>
    </ul>

  </div>

</div>
